__pycache__/
.idea/
.env
output_files/
plot_outputs/
old_core/
old_metric/
old_utilities/
log.txt
runner.py
start.sh
analyze_non_bayes.py
simulations/
candidates/
global_analysis.py
single_llm_control/
PeerRead/
output_files_bio/
output_files_paper/

