datasets
gensim
langchain
langchain_community
llama_index
matplotlib
nltk
numpy
openai
openpyxl
pandas
Pillow
plotly
polyfuzz
pydantic
pygame
PyPDF2
python-dotenv
python_docx
scikit_learn
scipy
seaborn
sentence_transformers
tiktoken
torch
transformers
