dash==2.17.1
dash_bootstrap_components==1.6.0
datasets==2.20.0
gensim==4.3.3
langchain==0.3.27
langchain_community==0.3.29
llama_index==0.13.5
matplotlib==3.10.6
nltk==3.8.1
numpy==1.21.5
openai==1.106.1
pandas==2.3.2
Pillow==11.3.0
plotly==5.23.0
polyfuzz==0.4.2
pydantic==2.11.7
pygame==2.1.0
PyPDF2==3.0.1
python-dotenv==1.1.1
python_docx==1.1.2
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
sentence_transformers==3.0.1
tiktoken==0.7.0
torch==2.0.1
transformers==4.43.3
